@import "_mixins.scss";
@import "_variables.scss";

#front {
  width: 100vw;
  height: 100vh;
  @include flex-col-center;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom right, #c04848, #480048);
  position: absolute;
  z-index: 1;
}

#searchbar {
  height: 5rem;
  width: 30rem;
  padding-left: 1rem;
}

#champion-box {
  height: 75vh;
  width: 90vw;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: initial;
  justify-content: flex-start;
  overflow-y: scroll;
}

#champion-box::-webkit-scrollbar {
  display: none;
}

#box {
  flex: 0 0 24.85%;
  height: 37.52vh;
  color: white;
  border: 1px solid black;
  @include flex-col-center;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#championTitle {
  position: relative;
  font-size: 3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: all ease 0.5s;
  top: 50px;
}

#class {
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 0;
  transition: all 0.5s;
}

#box:hover {
  opacity: 0.5;
}

#box:hover #championTitle {
  transform: translateY(-200px);
  margin: 0;
}

#box:hover #class {
  opacity: 1;
}
